:root {
  font-size: 62.5%;
  --side-icon-hover: #ffffff;
  --plain-white: #ffffff;
  --side-icon-shadow: rgba(216, 210, 252, 0.64);
  --home-button: rgba(216, 210, 252, 0.64);
  --sidenav-background: #e5e5e5;
  --topbar-logos: rgba(216, 210, 252, 0.64);
  --parameter-value: rgba(123, 123, 123, 1);
  --scope-1-fill: #30ad1b;
  --scope-2-fill: #4d0000;
  --scope-3-fill: #ff0000;
  --graph-header-text: rgba(39, 30, 74, 1);
  --graoh-bg: rgba(255, 255, 255, 1);
  --area-graph-bg: rgba(255, 255, 255, 0.5);
  --area-graph-shadow1: rgba(50, 50, 71, 0.01);
  --area-graph-shadow2: rgba(50, 50, 71, 0.06);
  --web-plat-green-color: #79cfa6;
  --web-plat-red-color: #ff706f;
  --web-plat-bg: #e5e5e5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
